/* External CSS */
body {
    background-color: black;
}

h1 {
    color: white;
    margin: -22px;
    padding: 40px;
    text-align: center;
}

h2 {
    margin: auto 2px;
    padding: 5px;
    text-align: center;
}

p {
    margin: auto 5px;
    padding: 5px;
    color: whitesmoke;
}

th {
    padding: 20px;
    border: 2px solid white;
    color: yellow;
}

#top {
    margin-bottom: 0.5em;
}

#bottom {
    margin-top: 20px;
}

#favcolor {
    color: white;
    background-color: blue;
}
